/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#include "base.dtsi"

// Layers
#define ENG    0
#define HEB    1
#define SYM    2
#define KBNV   3
#define MSNV   4	
#define BLTH   5

/ {
    keymap {
        compatible = "zmk,keymap";

        English {
            display-name = "ENG";
            bindings = <
    &kp Q           &kp W           &kp F           &kp P           &kp B              &kp J           &kp L           &kp U           &kp Y           &td_qe
    &kp A           &kp R           &hm LALT S      &hm LGUI T      &kp G              &kp M           &hm RGUI N      &hm RALT E      &kp I           &kp O
    &kp Z           &kp X           &kp C           &kp D           &kp V              &kp K           &kp H           &td_cs          &td_dc          &td_qt
                                    &smt MEH SPACE          &mt CAPS LSHIFT            &sk RCTRL               &to 2
            >;
        };
        Hebrew {
            display-name = "HEB";
            bindings = <
    &kp H_QOF       &kp H_RESH      &kp H_ALEF      &kp H_TET       &kp H_VAV          &kp H_FNUN      &kp H_FMEM      &kp H_PE        &td_htsdi       &td_hqe
    &kp H_SHIN      &kp H_DALT      &hm LALT H_GIML &hm LGUI H_KAF  &kp H_AYIN         &kp H_YOD       &hm RGUI H_HET  &hm RALT H_LAMD &kp H_FKAF      &kp H_FPE
    &kp H_ZAYN      &kp H_SMKH      &kp H_BET       &kp H_HE        &kp H_NUN          &kp H_MEM       &kp H_TAV       &td_hcs         &td_hdc         &td_hqt
                                    &smt MEH SPACE          &mt CAPS LSHIFT            &sk RCTRL               &to 2
            >;
        };
        Symbols {
            display-name = "SYM";
            bindings = <
    &fn_n1          &fn_n2          &fn_n3            &fn_n4            &fn_n5        &fn_n6          &fn_n7        &fn_n8          &fn_n9      &fn_n0
    &kp EQUAL       &kp CARET       &hm LALT KP_MINUS &hm LGUI KP_PLUS  &kp PRCNT     &kp AMPERSAND   &hm RGUI LPAR &hm RALT RPAR   &kp LBKT    &kp RBKT
    &kp BACKSLASH   &kp PIPE        &kp GRAVE         &kp TILDE         &to 0         &to 1           &kp LBRC      &kp RBRC        &kp LT      &kp GT
                                    &smt MEH SPACE          &kp LSHIFT                &sk RCTRL               &to 3
            >;
        };
        Keyboard_Nav {
            display-name = "KBNV";
            bindings = <
    &kp ESC           &kp KB_REDO &kp KB_UNDO   &kp CSCRN &kp PSCRN       &kp RC(R) &kp RC(TAB) &kp RA(RIGHT) &kp RC(T) &kp BSPC
    &mt SWCH_APP TAB  &kp KB_COPY &kp KB_PASTE  &mkp LCLK &mkp RCLK       &kp LEFT  &kp DOWN    &kp UP        &kp RIGHT &kp RET
    &kp LALT          &kp LC(Y)   &kp LC(Z)     &kp LC(C) &kp LC(V)       &kp HOME  &kp PG_DN   &kp PG_UP     &kp END   &to 0
                                  &smt MEH LGUI           &sk LSHIFT      &sk RCTRL             &to 2
            >;
        };
        Mouse_Nav {
            display-name = "MSNV";
            bindings = <
    &kp ESC             &kp KB_REDO &kp KB_UNDO     &kp CSCRN   &kp PSCRN       &kp RC(R)   &kp RC(TAB) &kp RA(RIGHT)   &kp RC(T)       &kp BSPC
    &mt SWCH_APP TAB    &kp KB_COPY &kp KB_PASTE    &mkp LCLK   &mkp RCLK       &mmv M_LEFT &mmv M_DOWN &mmv M_UP       &mmv M_RIGHT    &kp RET
    &kp LALT            &kp LC(Y)   &kp LC(Z)       &kp LC(C)   &kp LC(V)       &mwh S_LEFT &mwh S_DOWN &mwh S_UP       &mwh S_RIGHT    &to 0
                                    &smt MEH LGUI               &sk LSHIFT      &sk RCTRL               &to 1
            >;
        };
        Bluetooth {
            display-name = "BLTH";
            bindings = <
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4       &trans          &trans          &trans          &trans          &bt BT_PRV
    &trans          &trans          &trans          &trans          &trans             &trans          &trans          &trans          &trans          &bt BT_NXT
    &bootloader     &trans          &trans          &trans          &trans             &trans          &trans          &trans          &trans          &bt BT_CLR
                                    &to 0                   &to 1                      &to 2                   &to 3
        >;
        };
    };
};
