/*
 * English Base Layer - Colemak-DH
*/

// Layers
#define ENG    0
#define HEB    1
#define SYM    2
#define KBNV   3
#define MSNV   4	
#define BLT    5

/ {
  keymap {
    compatible = "zmk,keymap";

    base_eng {
      // label = "ENG";
      bindings = <
    &kp Q           &kp W           &kp F           &kp P           &kp B              &kp J           &kp L           &kp U           &kp Y           &td_qe
    &kp A           &kp R           &hm LALT S      &hm LGUI T      &kp G              &kp M           &hm RGUI N      &hm RALT E      &kp I           &kp O
    &kp Z           &kp X           &kp C           &kp D           &kp V              &kp K           &kp H           &td_cs          &td_dc          &td_qt
                                    &smt MEH SPACE          &mt CAPS LSHIFT            &sk RCTRL               &to 2
      >;
    };
  };
};
/*
KEYMAP DRAWER
 ENGLISH:
   - [Q, W, F, P, B, J, L, U, Y, { t: "?", h: "!" }]
   - [A, R, { t: S, h: "⌥" }, { t: T, h: "⊞" }, G, M, { t: N, h: "⊞" }, { t: E, h: "⌥" }, I, O]
   - [Z, X, C, D, V, K, H, { t: ",", h: ";" }, { t: ".", h: ":" }, { t: "'", h: '"' }]
   - [{ t: SPACE, h: "MEH" }, { t: "⇧", h: CAPS }, { t: CTRL, h: sticky }, SYMBOL]
*/

/*
*╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
* 0               1               2               3               4                  5               6               7               8               9
* t: Q            t: W            t: F            t: P            t: B               t: J            t: L            t: U            t: Y            t: ?
* h:              h:              h:              h:              h:                 h:              h:              h:              h:              h: !
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 10              11              12              13              14                 15              16              17              18              19
* t: A            t: R            t: S            t: T            t: G               t: M            t: N            t: E            t: I            t: O
* h:              h:              h: LALT         h: LGUI         h:                 h:              h: RGUI         h: RALT         h:              h:
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 20              21              22              23              24                 25              26              27              28              29
* t: Z            t: X            t: C            t: D            t: V               t: K            t: H            t: ,            t: .            t: '
* h:              h:              h:              h:              h:                 h:              h:              h: ;            h: :            h: "
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*╰───────────────┴───────────────┼───────────────┴───────┬───────┴───────────────┤  ├───────────────┴───────┬───────┴───────────────┼───────────────┴───────────────┤
*                                 30                      31                         32                      33
*                                 t: SPACE                t: LSHIFT                  t: RCTRL                t: SYMBOL
*                                 h: MEH                  h: CAPS                    h:                      h:
*                                 s:                      s:                         s:                      s:
*                                ╰───────────────────────┴───────────────────────╯  ╰───────────────────────┴───────────────────────╯
*/