/*
 * Numbers and Symbols Layer
*/

// Layers
#define ENG    0
#define HEB    1
#define SYM    2
#define KBNV   3
#define MSNV   4	
#define BLT    5

/ {
  keymap {
    compatible = "zmk,keymap";

    symbol {
      // label = "SYM";
      bindings = <
    &fn_n1          &fn_n2          &fn_n3            &fn_n4            &fn_n5        &fn_n6          &fn_n7        &fn_n8          &fn_n9      &fn_n0
    &kp EQUAL       &kp CARET       &hm LALT KP_MINUS &hm LGUI KP_PLUS  &kp PRCNT     &kp AMPERSAND   &hm RGUI LPAR &hm RALT RPAR   &kp LBKT    &kp RBKT
    &kp BACKSLASH   &kp PIPE        &kp GRAVE         &kp TILDE         &to 0         &to 1           &kp LBRC      &kp RBRC        &kp LT      &kp GT
                                    &smt MEH SPACE          &kp LSHIFT                &sk RCTRL               &to 3
      >;
    };
  };
};

/*
*╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
* 0               1               2               3               4                  5               6               7               8               9
* t: 1            t: 2            t: 3            t: 4            t: 5               t: 6            t: 7            t: 8            t: 9            t: 0
* h: F1           h: F2           h: F3           h: F4           h: F5              h: F6           h: F7           h: F8           h: F9           h: F10
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 10              11              12              13              14                 15              16              17              18              19
* t: =            t: ^            t: -            t: +            t: %               t: &            t: (            t: )            t: [            t: ]
* h:              h:              h: LALT         h: LGUI         h:                 h:              h: RGUI         h: RALT         h:              h:
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 20              21              22              23              24                 25              26              27              28              29
* t: \            t: |            t: `            t: ~            t: ENGLISH         t: HEBREW       t: {            t: }            t: <            t: >
* h:              h:              h:              h:              h:                 h:              h:              h:              h:              h:
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*╰───────────────┴───────────────┼───────────────┴───────┬───────┴───────────────┤  ├───────────────┴───────┬───────┴───────────────┼───────────────┴───────────────┤
*                                 30                      31                         32                      33
*                                 t: SPACE                t: LSHIFT                  t: RCTRL                t: KEYBOARD NAV
*                                 h: MEH                  h:                         h:                      h:
*                                 s:                      s:                         s:                      s:
*                                ╰───────────────────────┴───────────────────────╯  ╰───────────────────────┴───────────────────────╯
*/