/*
 * Bluetooth Layer
*/

/ {
  keymap {
    compatible = "zmk,keymap";

    bluetooth {
      label = "BLTH";
      bindings = <
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4       &trans          &trans          &trans          &trans          &bt BT_PRV
    &trans          &trans          &trans          &trans          &trans             &trans          &trans          &trans          &trans          &bt BT_NXT
    &bootloader     &trans          &trans          &trans          &trans             &trans          &trans          &trans          &trans          &bt BT_CLR
                                    &to 0                   &to 1                      &to 2                   &to 3
      >;
    };
  };
};

/*
*╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
* 0               1               2               3               4                  5               6               7               8               9
* t: 1            t: 2            t: 3            t: 4            t: 5               t: 6            t: 7            t: 8            t: 9            t: 0
* h: F1           h: F2           h: F3           h: F4           h: F5              h: F6           h: F7           h: F8           h: F9           h: F10
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 10              11              12              13              14                 15              16              17              18              19
* t: =            t: ^            t: -            t: +            t: %               t: &            t: (            t: )            t: [            t: ]
* h:              h:              h: LALT         h: LGUI         h:                 h:              h: RGUI         h: RALT         h:              h:
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
* 20              21              22              23              24                 25              26              27              28              29
* t: \            t: |            t: `            t: ~            t: ENGLISH         t: HEBREW       t: {            t: }            t: <            t: >
* h:              h:              h:              h:              h:                 h:              h:              h:              h:              h:
* s:              s:              s:              s:              s:                 s:              s:              s:              s:              s:
*╰───────────────┴───────────────┼───────────────┴───────┬───────┴───────────────┤  ├───────────────┴───────┬───────┴───────────────┼───────────────┴───────────────┤
*                                 30                      31                         32                      33
*                                 t: SPACE                t: LSHIFT                  t: RCTRL                t: KEYBOARD NAV
*                                 h: MEH                  h:                         h:                      h:
*                                 s:                      s:                         s:                      s:
*                                ╰───────────────────────┴───────────────────────╯  ╰───────────────────────┴───────────────────────╯
*/