# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_23332_2_PC_LEFT

config ZMK_KEYBOARD_NAME
	default "SNAK 23332_2"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_23332_2_PC_LEFT

if SHIELD_23332_2_PC_LEFT || SHIELD_23332_2_PC_RIGHT

config ZMK_SPLIT
	default y

config ZMK_EXT_POWER
	default y

endif # if SHIELD_23332_2_PC_LEFT || SHIELD_23332_2_PC_RIGHT
