# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_2_3333_2_LEFT
	def_bool $(shields_list_contains,2_3333_2_left)

config SHIELD_2_3333_2_RIGHT
	def_bool $(shields_list_contains,2_3333_2_right)