/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include "../keys/hebrew.h"

&mt {
    tapping_term_ms = <200>;
    flavor = "tap-preferred";
};
&sk {
     release-after-ms = <2000>;
     quick-release;
 };

// Layers
#define BASE    0
#define HEBREW  1
#define SYMBOLS 2
#define KBNAV   3
#define MSNAV   4	
#define BLTH    5

/* 34 Key Matrix
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         
*/

/ {
    combos {
        compatible = "zmk,combos";

// General combos
        combo_to_base {
            timeout-ms = <50>;
            key-positions = <30 33>; // Home thumb keys
            bindings = <&to BASE>;
        };
        combo_to_bt {
            timeout-ms = <50>;
            key-positions = <0 1 8 9>; // Top pinky and ring keys
            bindings = <&to BLTH>;
            layers = <BASE HEBREW SYMBOLS KBNAV MSNAV>;
        };

// Multi-Layer combos
        combo_return {
            timeout-ms = <50>;
            key-positions = <18 19>; // Middle-rightmost keys
            bindings = <&kp RETURN>;
            layers = <BASE HEBREW SYMBOLS>;
        };

        combo_escape {
            timeout-ms = <50>;
            key-positions = <0 1>; // Top-leftmost corner keys
            bindings = <&kp ESCAPE>;
            layers = <BASE HEBREW SYMBOLS>;
        };

        combo_backspace {
            timeout-ms = <50>;
            key-positions = <8 9>; // Top-rightmost corner keys
            bindings = <&kp BACKSPACE>;
            layers = <BASE HEBREW SYMBOLS>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>; // Middle-leftmost keys
            bindings = <&kp TAB>;
            layers = <BASE HEBREW SYMBOLS>;
        };

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <24 25>; // Bottom inner keys
            bindings = <&caps_word>;
            layers = <BASE HEBREW SYMBOLS>;
        };

        combo_underscore {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp UNDERSCORE>;
            layers = <BASE HEBREW SYMBOLS>;
        };

// Alpha layer combos
        // combo_exclamation_point {
        //     timeout-ms = <50>;
        //     key-positions = <31 9>; // Shift + Question mark
        //     bindings = <&kp EXCLAMATION>;
        //     layers = <BASE>;
        // };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = 
                <&kp>, 
                <&kp>;
        };
        smt: sticky_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = 
                <&sk>, 
                <&kp>;
        };
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = 
                <&kp>, 
                <&kp>;
        };
        // 1: Period "."; 2: Colon ":"; 3: Ellipsis "..."
        td_dc: tap_dot_colon {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DOT_COLON";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = 
                <&kp DOT>, 
                <&kp COLON>, 
                <&kp DOT &kp DOT &kp DOT>;
        };
        // 1: Comma ","; 2: Semicolon ";"
        td_cs: tap_comma_semicolon {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_COMMA_SEMICOLON";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = 
                <&kp COMMA>, 
                <&kp SEMICOLON>;
        };
        // 1: Single quote "'"; 2: Double quote """; 3: Triple-double quote """""
        td_qt: tap_quote {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_QUOTE";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = 
                <&kp SINGLE_QUOTE>, 
                <&kp DOUBLE_QUOTES>, 
                <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp DOUBLE_QUOTES>;
        };
        // 1: Question mark "?"; 2: Exclamation mark "!"
        td_qe: tap_question_exclamation {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_COMMA_SEMICOLON";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = 
                <&kp QUESTION>, 
                <&kp EXCLAMATION>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        base_english {
/* English Alphas
=================================================================================================================
| ESC   | ESC    |          |          |        |          |        | _        | _       | BSPC    | (+:!) BSPC |
| Q     | W      | F        | P        | B      |          | J      | L        | U       | Y       | ?          |
-----------------------------------------------------------------------------------------------------------------
| TAB   | TAB    | (h:LALT) | (h:LGUI) |        |          |        | (h:RGUI) | (h:RALT) | ENTER  | ENTER      |
| A     | R      | S        | T        | G      |          | M      | N        | E        | I      | O          |
-----------------------------------------------------------------------------------------------------------------
|       |        |          |          |        |          |        |          | (+: ;)   | (+: :) | (+: ")     |
| Z     | X      | C        | D        | V      |          | K      | H        | ,        | .      | '          |
-----------------------------------------------------------------------------------------------------------------
|       | (h:MEH)           | (h:CAPS)          |          |                   | (+:L3) (h:L4)     |            |
|       | SPACE             | SHIFT             |          | CTRL              | L2                |            |
=================================================================================================================
*/
            bindings = <
&kp Q   &kp W   &kp F       &kp P                   &kp B               &kp J       &kp L       &kp U       &kp Y   &td_qe
&kp A   &kp R   &hm LALT S  &hm LGUI T              &kp G               &kp M       &hm RGUI N  &hm RALT E  &kp I   &kp O
&kp Z   &kp X   &kp C       &kp D                   &kp V               &kp K       &kp H       &td_cs      &td_dc  &td_qt
                            &smt LC(LS(LALT)) SPACE &mt CAPS LSHIFT     &sk RCTRL   &to 2
            >;
        };

        base_hebrew {
/* Hebrew Alphas
===============================================================================================================
| ESC   | ESC    |          |          |      |         |       | (+:F_MEM) |          | BSPC    | (+:!) BSPC |
| QOF   | RESH   | ALEF     | TET      | VAV  |         | F_NUN | MEM       | PEH      | F_TSADI | ?          |
---------------------------------------------------------------------------------------------------------------
| TAB   | TAB    | (h:LALT) | (h:LGUI) |      |         |       | (h:RGUI)  | (h:RALT) | ENTER   | ENTER      |
| SHIN  | DALET  | GIMEL    | KAF      | AYIN |         | YOD   | HET       | LAMED    | F_KAF   | F_PEH      |
---------------------------------------------------------------------------------------------------------------
|       |        |          |          |      |         |       |           | (+: ;)   | (+: :)  | (+: ")     |
| ZAYIN | SAMEKH | BET      | HE       | NUN  |         | TSADI | TAV       | ,        | .       | '          |
---------------------------------------------------------------------------------------------------------------
|       | (h:MEH)           | (h:CAPS)        |         |                   | (+:L3) (h:L4)      |            |
|       | SPACE             | SHIFT           |         | CTRL              | L2                 |            |
===============================================================================================================
*/
            bindings = <
&kp H_QOF   &kp H_RESH  &kp H_ALEF              &kp H_TET           &kp H_VAV   &kp H_FNUN  &kp H_FMEM      &kp H_PE            &ht H_FTSDI H_TSDI  &ht H_EXCL H_QMARK
&kp H_SHIN  &kp H_DALT  &hm LALT H_GIML         &hm LGUI H_KAF      &kp H_AYIN  &kp H_YOD   &hm RGUI H_HET  &hm RALT H_LAMD     &kp H_FKAF          &kp H_FPE
&kp H_ZAYN  &kp H_SMKH  &kp H_BET               &kp H_HE            &kp H_NUN   &kp H_MEM   &kp H_TAV       &ht H_SEMI H_COMMA  &ht H_COLON H_DOT   &ht H_DQT H_SQT
                        &smt LC(LS(LALT)) SPACE &mt CAPS LSHIFT     &sk RCTRL   &to 2
            >;
        };

        numbers_symbols {
/* Numbers and Symbols 
========================================================================================================================================
| ESC    | ESC  |          |          |        |            |        |                 |                 | BSPC         | (+:!) BSPC   |
| 1      | 2    | 3        | 4        | 5      |            | 6      | 7               | 8               | 9            | 0            |
----------------------------------------------------------------------------------------------------------------------------------------
| TAB    | TAB  | (h:LALT) | (h:LGUI) |        |            | (+: %) | (+: <) (h:RGUI) | (+: >) (h:RALT) | (+: {) ENTER | (+: }) ENTER |
| /      | *    | -        | +        | =      |            | ^      | (               | )               | [            | ]            |
----------------------------------------------------------------------------------------------------------------------------------------
| (+: ~) |      |          |          | (+: ₪) |            | (+: |) |                 | (+: ;)          | (+: :)       |              |
| `      | &    | @        | #        | $      |            | \      | _               | ,               | .            | TO L0        |
----------------------------------------------------------------------------------------------------------------------------------------
|        | (h:MEH)         | (h:FN)            |            |                          | (+:L4)                         |              |
|        | SPACE           | SHIFT             |            | CTRL                     | L3                             |              |
========================================================================================================================================
*/
            bindings = <
&kp KP_N1       &kp KP_N2       &kp KP_N3           &kp KP_N4           &kp KP_N5           &kp KP_N6       &kp KP_N7       &kp KP_N8       &kp KP_N9   &kp KP_N0
&kp KP_SLASH    &kp KP_MULTIPLY &hm LALT KP_MINUS   &hm LGUI KP_PLUS    &kp EQUAL           &kp CARET       &hm RGUI LPAR   &hm RALT RPAR   &kp LBKT    &kp RBKT
&kp GRAVE       &kp AMPERSAND   &kp AT_SIGN         &kp HASH            &kp DOLLAR          &kp BACKSLASH   &kp UNDER       &kp COMMA       &kp DOT     &to 0
                                                    &trans              &kp LSHIFT          &trans          &to 3
            >;
        };

        nav_keyboard {
/* Keyboard Navigation
==================================================================================================================================================
| (+:EXIT WIN) |             |            | PAUSE        | VOL UP       |      | (+:REOP TAB) | (+:PRV TAB) | (+:PRV PG) | (+:EXIT TAB) |        |
| ESC          | REDO        | UNDO       | PLAY         | VOL DOWN     |      | REFRESH      | NEXT TAB    | NEXT PG    | NEW TAB      | BSPACE |
--------------------------------------------------------------------------------------------------------------------------------------------------
| (h:alt+)     |             |            |              |              |      |              |             |            |              |        |
| TAB          | COPY        | PASTE      | MOUSE LCLICK | MOUSE RCLICK |      | LEFT ARROW   | DOWN ARROW  | UP ARROW   | RIGHT ARROW  | ENTER  |
--------------------------------------------------------------------------------------------------------------------------------------------------
|              |             |            |              |              |      |              |             |            |              |        |
| ALT          | RENAME FILE | SELECT ALL | SCRN SHOT    | PRNT SCRN    |      | HOME         | PG DN       | PG UP      | END          | TO L0  |
--------------------------------------------------------------------------------------------------------------------------------------------------
|              |                          |                             |      |                            | (+:L3)                    |        |
|              | SPACE                    | SHIFT                       |      | CTRL                       | L2                        |        |
==================================================================================================================================================
*/
            bindings = <
&kp ESC         &kp LC(W)   &kp LA(LEFT)    &kp LC(LS(TAB)) &kp LC(LS(T)) &kp RC(R) &kp RC(TAB) &kp RA(RIGHT)   &kp RC(T)   &kp BSPC
&mt LA(TAB) TAB &kp LC(C)   &kp LC(V)       &mkp LCLK       &mkp RCLK     &kp LEFT  &kp DOWN    &kp UP          &kp RIGHT   &kp RET
&kp LALT        &kp LC(Y)   &kp LC(Z)       &kp LC(C)       &kp LC(V)     &kp HOME  &kp PG_DN   &kp PG_UP       &kp END     &to 0
                                            &kp LGUI        &sk LSHIFT    &trans    &to 2
            >;
        };

        nav_mouse {
/* Mouse Navigation
==================================================================================================================================================
| (+:EXIT WIN) |             |            | PAUSE        | VOL UP       |      | (+:REOP TAB) | (+:PRV TAB) | (+:PRV PG) | (+:EXIT TAB) |        |
| ESC          | REDO        | UNDO       | PLAY         | VOL DOWN     |      | REFRESH      | NEXT TAB    | NEXT PG    | NEW TAB      | BSPACE |
--------------------------------------------------------------------------------------------------------------------------------------------------
| (h:alt+)     |             |            |              |              |      |              |             |            |              |        |
| TAB          | COPY        | PASTE      | MOUSE LCLICK | MOUSE RCLICK |      | LEFT MOUSE   | DOWN MOUSE  | UP MOUSE   | RIGHT MOUSE  |  ENTER |
--------------------------------------------------------------------------------------------------------------------------------------------------
|              |             |            |              |              |      |              |             |            |              |        |
| ALT          | RENAME FILE | SELECT ALL | SCRN SHOT    | PRNT SCRN    |      | HOME         | PG DN       | PG UP      | END          | TO L0  |
--------------------------------------------------------------------------------------------------------------------------------------------------
|              |                          |                             |      |                            | (+:L3)                    |        |
|              | SPACE                    | SHIFT                       |      | CTRL                       | L2                        |        |
==================================================================================================================================================
*/
            bindings = <
&kp ESC         &kp LC(W) &kp LA(LEFT) &kp LC(LS(TAB)) &kp LC(LS(T)) &kp RC(R)        &kp RC(TAB)      &kp RA(RIGHT)  &kp RC(T)         &kp BSPC
&mt LA(TAB) TAB &kp PSCRN &hm          &mkp LCLK       &mkp RCLK     &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   &kp RET
&sk LALT        &kp LC(Y) &kp LC(Z)    &kp LC(C)       &kp LC(V)     &mwh SCROLL_LEFT &mwh SCROLL_DOWN &mwh SCROLL_UP &mwh SCROLL_RIGHT &to 0
                                       &kp LGUI        &sk LSHIFT    &trans        &to 1
            >;
        };

        bluetooth {
// Bluetooth
            bindings = <
&bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans  &trans  &trans  &trans  &bt BT_PRV
&bootloader     &trans          &trans          &trans          &trans          &trans  &trans  &trans  &trans  &bt BT_NXT
&bt BT_CLR      &trans          &trans          &trans          &to 0           &to 1   &trans  &trans  &trans  &trans
                                                &to 0           &trans          &trans  &to 1
            >;
        };
    };
};
