/*
 * English Base Layer - Colemak-DH
*/

/ {
  keymap {
    compatible = "zmk,keymap";

    base_eng {
      label = "ENG";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4                   5               6               7               8               9
    &kp Q           &kp W           &kp F           &kp P           &kp B               &kp J           &kp L           &kp U           &kp Y           &td_qe
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//  10              11              12              13              14                  15              16              17              18              19
    &kp A           &kp R           &hm LALT S      &hm LGUI T      &kp G               &kp M           &hm RGUI N      &hm RALT E      &kp I           &kp O
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//  20              21              22              23              24                  25              26              27              28              29
    &kp Z           &kp X           &kp C           &kp D           &kp V               &kp K           &kp H           &td_cs          &td_dc          &td_qt
// ╰───────────────┴───────────────┼───────────────┴───────┬───────┴───────────────┤   ┼───────────────┴───────┬───────┴───────────────┤───────────────┴───────────────╯
//                                  30                      31                          32                      33              
                                    &smt MEH SPACE          &mt CAPS LSHIFT             &sk RCTRL               &to 2
//                                 ╰───────────────────────┴───────────────────────╯   ╰───────────────────────┴───────────────────────╯
      >;
    };
  };
};