/*
 * Hebrew Base Layer
*/

/ {
  keymap {
    compatible = "zmk,keymap";

    base_heb {
      label = "HEB";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4                   5               6               7               8               9
    &kp H_QOF       &kp H_RESH      &kp H_ALEF      &kp H_TET       &kp H_VAV           &kp H_FNUN      &kp H_FMEM      &kp H_PE        &td_htsdi       &td_hqe
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//  10              11              12              13              14                  15              16              17              18              19
    &kp H_SHIN      &kp H_DALT      &hm LALT H_GIML &hm LGUI H_KAF  &kp H_AYIN          &kp H_YOD       &hm RGUI H_HET  &hm RALT H_LAMD &kp H_FKAF      &kp H_FPE
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//  20              21              22              23              24                  25              26              27              28              29
    &kp H_ZAYN      &kp H_SMKH      &kp H_BET       &kp H_HE        &kp H_NUN           &kp H_MEM       &kp H_TAV       &td_hcs         &td_hdc         &td_hqt
// ╰───────────────┴───────────────┼───────────────┴───────┬───────┴───────────────┤   ┼───────────────┴───────┬───────┴───────────────┤───────────────┴───────────────╯
//                                  30                      31                          32                      33              
                                    &smt MEH SPACE          &mt CAPS LSHIFT             &sk RCTRL               &to 2
//                                 ╰───────────────────────┴───────────────────────╯   ╰───────────────────────┴───────────────────────╯
      >;
    };
  };
};